[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dedupewider"]
	path = dedupewider
	url = https://github.com/gsmolinski/dedupewider
